@keyframes bganimation {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes magnification {
    0% {
        transform: scale(0.5);
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.0);
    }
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #FA8BFF, #8bd1ff 30%, #ecff7f, #2BD2FF);
    background-size: 400%;
    animation: bganimation 15s 0s infinite;
}

.wrapper {
    display: flex;
    animation: magnification 0.75s 0s;
}

.info-wrapper {
    display: flex;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 15px;
}

#tries {
    font-size: 24px;
    margin-right: 10px;
    width: 100%;
}

#answer {
    font-size: 16px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 150px;
    height: 150px;
    border: 1px solid var(--black-transparent);
    border-radius: 1px;
    user-select: none;
}

#left-top {
    background: linear-gradient(-45deg, var(--red) 90%, var(--mark) 95%);
}

#left-bottom {
    background: linear-gradient(-135deg, var(--red) 90%, var(--mark) 95%);
}

#right-top {
    background: linear-gradient(45deg, var(--blue) 90%, var(--mark) 95%);
}

#right-bottom {
    background: linear-gradient(135deg, var(--blue) 90%, var(--mark) 95%);
}

.center-cell.right-cell {
    background: linear-gradient(90deg, var(--purple) 50%, var(--blue));
}

.center-cell.left-cell {
    background: linear-gradient(90deg, var(--red), var(--purple) 50%);
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border: 0;
    padding: 8px 12px;
    border-radius: 6px;
    background: var(--black-transparent);
    margin-bottom: 10px;
    user-select: none;
}

.buttons-block {
    display: flex;
    flex-direction: column;
}

button:hover,
button:active {
    background: var(--black-more-transparent);
    cursor: pointer;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

.start-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 25%;
    animation: magnification 0.75s 0s;
}

h1 {
    color: white;
    font-size: 72px;
    margin: 0 0 30px 0;
    text-align: center;
    user-select: none;
}

h1 span {
    margin: 0 -16px 0 -16px;
}

.number-wrapper {
    display: flex;
    flex-direction: row;
}

.number-wrapper input {
    font-size: 24px;
    width: 20%;
}

.number-field {
    text-align: center;
    justify-content: space-between;
    margin-right: 10px;
    max-width: 100%;
    flex-grow: 1;
}

.color-field {
    display: flex;
    justify-content: space-between;
}

.color-field input {
    margin: 0 0 0 15px;
    width: 20px;
    height: 20px;
}

#start-button {
    margin: 0;
}

.end-wrapper {
    animation: magnification 0.75s 0s;
}

#reset {
    font-size: 42px;
    margin: 0;
    padding: 8px;
}

#victory {
    font-size: 42px;
    margin: 0 10px 0 0;
}