* {
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-y: hidden;
    margin: 0;

    background: linear-gradient(135deg, var(--bg-pink), var(--bg-blue) 30%, var(--bg-yellow), var(--bg-cyan));
    background-size: 400%;
    animation: bganimation 15s 0s infinite;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 0;
    padding: 8px 12px;
    border-radius: 6px;
    background: var(--black-transparent);
    margin-bottom: 10px;
    user-select: none;
}

.buttons-block {
    display: flex;
    flex-direction: column;
}

button:last-child {
    margin-bottom: 0;
}

button:hover,
button:active {
    background: var(--black-more-transparent);
    cursor: pointer;
}

::backdrop {
    background: var(--black-more-transparent);
}

.dialog {
    background: rgba(20, 20, 20, 0.95);
    border: 0;
    padding: 16px 24px;
    border-radius: 6px;
    margin-bottom: auto;
    min-width: 300px;
    max-width: 500px;
    max-height: 500px;
}

.dialog-wrapper {
    font-size: 20px;
}

.dialog-title {
    border-radius: 6px;
    font-size: 26px;
    margin: 0;
}

.dialog-text {
    padding: 0 16px;
    text-align: center;
}

.dialog-close {
    background: rgb(49, 49, 49);
    margin: auto;
}

.dialog-wrapper button:hover,
.dialog-wrapper button:active {
    background: rgb(36, 36, 36);
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .block {
        font-size: 18px;
        padding: 8px 8px;
    }

    .buttons-block button {
        font-size: 13px;
    }

    .dialog-wrapper {
        font-size: 18px;
    }

    .dialog-title {
        font-size: 22px;
    }
}