.start-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 310px;
    animation: magnification 0.75s 0s;
    margin: 0 20px;
}

h1 {
    color: white;
    font-size: 72px;
    margin: 0 0 30px 0;
    text-align: center;
}

h1 span {
    margin: 0 -16px;
}

.number-wrapper,
.color-wrapper {
    display: flex;
    flex-direction: row;
}

#number-input {
    font-size: 24px;
    width: 20%;
}

.number-field {
    justify-content: space-between;
    margin-right: 10px;
    width: 100%;
}

.color-field {
    justify-content: space-between;
    margin-right: 10px;
    width: 100%;
}

#color-input {
    margin: 0;
    width: 20px;
    height: 20px;
}

#start-button {
    margin: 0;
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 54px;
    }

    h1 span {
        margin: 0 -14px;
    }

    #number-input {
        /* font-size: 18px; */
        width: 30%;
    }

    .number-field {
        margin-right: 5px;
    }

    .color-field {
        margin-right: 5px;
    }
}