.start-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 310px;
    animation: magnification 0.75s 0s;
    margin: 0 20px;
}

h1 {
    font-size: 72px;
    margin: 0 0 30px 0;
    text-align: center;
}

h1 img {
    width: 70px;
    height: 70px;
    margin: 0 -8px -3px -8px;
}

input:invalid {
    outline: 2px solid var(--red);
}

.actions-wrapper,
.color-wrapper,
.timer-wrapper,
#start-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#actions-input,
#timer-input {
    width: 20%;
}

#color-input {
    margin: 0;
    width: 20px;
    height: 20px;
}

.actions-field,
.color-field,
.timer-field {
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
}

.color-field {
    margin-right: 0;
}

#start-button {
    justify-content: center;
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 54px;
        margin: 0 0 15px 0;
    }

    h1 img {
        width: 60px;
        height: 60px;
        margin: 0 -6px -3px -6px;
    }

    .block {
        margin-bottom: 5px;
    }

    .actions-field,
    .timer-field {
        margin-right: 5px;
    }

    #actions-input,
    #timer-input {
        width: 25%;
    }
}