.wrapper {
    display: flex;
    animation: magnification 0.75s 0s;
    min-width: 300px;
    margin: 0 20px;
}

.info-wrapper {
    display: flex;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 15px;
}

#tries {
    font-size: 24px;
    margin-right: 10px;
    width: 100%;
}

#code {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        ". . . .";
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40px;
    width: 150px;
    height: 150px;
    border: 1px solid var(--black-transparent);
    background: linear-gradient(45deg, #e07a1e 0%, #e4c183 100%);
    border-radius: 1px;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 680px) {
    .panel {
        width: 300px;
    }

    .cell {
        font-size: 30px;
        width: 75px;
        height: 75px;
    }

    #tries {
        margin-right: 8px;
    }
}